
:root {
    --light-black: #0000001c;
    --hr-height: 0.1rem;
}

#light .container, #light .heading, #light .heading span, #light .heading h4, #dark .container, #dark .heading, #dark .heading span, #dark .heading h4, #light .model-popup, #dark .model-popup {
    color: white;
}

.heading span  p b {
    background: linear-gradient(to right,red, orange, yellow, rgb(0, 255, 0), blue, indigo, violet);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
} 



b {
    font-weight: bolder;
    color: #000;
}

hr {
    background: var(--light-black);
    height: var(--hr-height);
    border: none;
    width: 75%;
    margin: auto;
}

.add-hr {
    padding: 5rem;
}

.underline {
    background: var(--light-black);
    height: var(--hr-height);
    margin: auto;
}

.add-blur {
    filter: blur(0.7rem);
}